eln-cache/
elpa/

*~
\#*\#

*.elc
bookmarks
.emacs.desktop
.emacs.desktop.lock

auto-save-list

tramp

.\#*


.org-id-locations
*.org_archive

eshell/history
eshell/alias

recentf

cscope.*
GPATH
GRTAGS
GSYMS
GTAGS

local-config.el
custom.el